* {
		border: none;
		border-radius: 0;
		font-family: "SauceCodePro Nerd Font Mono";
		font-size: 16px;
		min-height: 0;
}

window#waybar {
		background: rgba(46, 52, 64, 0.8);
		color: #eceff4;
}

#workspaces button {
		padding: 0 10px;
		background: transparent;
		color: #eceff4;
		border-bottom: 2px solid transparent;
}

#workspaces button.active {
		border-bottom: 2px solid #88c0d0;
}

#workspaces button:hover {
		background: #4c566a;
}

#pipewire, #network, #clock {
		padding: 0 10px;
}

#battery {
		padding: 0 10px;
		color: #eceff4;
}

#battery.charging {
		color: #a3be8c;
}

#battery.warning {
		color: #ebcb8b;
}

#battery.critical {
		color: #bf616a;
		animation-name: blink;
		animation-duration: 0.5s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: alternate;
}

@keyframes blink {
		to {
				background-color: #bf616a;
				color: #eceff4;
		}
} 