* {
    border: none;
    border-radius: 0;
    font-family: "SauceCodePro Nerd Font Mono";
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    color: #D8DEE9;
    border-radius: 12px;
}

#workspaces {
    background: #3B4252;
    margin: 5px;
    padding: 0 5px;
    border-radius: 10px;
    color: #D8DEE9;
}

#workspaces button {
    padding: 0 10px;
    color: #D8DEE9;
    background: transparent;
    border-radius: 8px;
}

#workspaces button.active {
    color: #88C0D0;
    background: #4C566A;
}

#workspaces button:hover {
    background: #4C566A;
}

#temperature,
#cpu,
#memory,
#tray,
#pulseaudio,
#battery,
#clock {
    padding: 2px 12px;
    margin: 6px 3px;
    background: #3B4252;
    color: #D8DEE9;
    border-radius: 8px;
}

#battery.charging {
    color: #A3BE8C; /* Green */
}

#battery.warning {
    color: #EBCB8B; /* Yellow */
}

#battery.critical {
    color: #BF616A; /* Red */
} 